.App {
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 30% 100px auto;
  grid-template-areas:
          'leftup header rightup'
          'menu main right'
          'menu footer footer';
}

.Light-slider{
  grid-area: header;
  /*justify-self: center;*/
}

.RightMenuContainer {
  grid-area: right;
}

.ActiveFloor {
  /*grid-area: main;*/
  /*justify-self: start;*/
}

.FloorContainer {
    grid-area: main;
    justify-self: start;
    width: 100%;
}

.Background {
    grid-area: main;
}

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/

/*  .Active-floor{*/

/*  }*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
