.container1{
    position: relative;
    width: 100%;
}

.container2{
    position: relative;
    width: 100%;
}

.container3{
    position: relative;
    width: 100%;
}

.floor_room11{
    position: absolute;
    max-width:100%;
    justify-self: start;
    filter: brightness(100%);
}

.floor_room12{
    position: absolute;
    left: 307px;
    max-width:100%;
    justify-self: start;
    filter: brightness(100%);
}

.floor_room13{
    position: absolute;
    left: 477px;
    max-width:100%;
    justify-self: start;
    filter: brightness(100%);
}

.floor_room14{
    position: absolute;
    top: 431px;
    max-width:100%;
    justify-self: start;
    filter: brightness(100%);
}

.floor_room21{
    position: absolute;
    max-width:100%;
    justify-self: start;
    filter: brightness(100%);
}

.floor_room22{
    position: absolute;
    max-width:100%;
    justify-self: start;
    filter: brightness(100%);
}

.floor_room23{
    position: absolute;
    top: 410px;
    max-width:100%;
    justify-self: start;
    filter: brightness(100%);
}

.floor_room24{
    position: absolute;
    top: 410px;
    left: 354px;
    max-width:100%;
    justify-self: start;
    filter: brightness(100%);
}

.floor_room31{
    position: absolute;
    max-width:100%;
    justify-self: start;
    filter: brightness(100%);
}

.floor_room32{
    position: absolute;
    left: 245px;
    max-width:100%;
    justify-self: start;
    filter: brightness(100%);
}

.floor_room33{
    position: absolute;
    left: 463px;
    max-width:100%;
    justify-self: start;
    filter: brightness(100%);
}

.floor_room34{
    position: absolute;
    top: 285px;
    max-width:100%;
    justify-self: start;
    filter: brightness(100%);
}

.floor_room35{
    position: absolute;
    left: 463px;
    top: 285px;
    max-width:100%;
    justify-self: start;
    filter: brightness(100%);
}

.room {
    opacity: 1;
}

.room:hover{
    opacity: 0.8;
}

img {
    cursor: pointer;
}