/*.container1{*/
/*    display: grid;*/
/*    grid-column-gap: 50px;*/
/*    grid-row-gap: 50px;*/
/*    grid-template-columns: 25% 50% 25%;*/
/*    grid-template-rows: 30% 40% 30%;*/
/*    grid-template-areas:*/
/*            'leftup header rightup'*/
/*            'menu main  right'*/
/*            'menu footer footer';*/
/*}*/

.floor_room11{
    position: absolute;
    left: 600px;
    top: 178px;
    max-width:100%;
    justify-self: start;
}

.floor_room12{
    position: absolute;
    left: 907px;
    top: 178px;
    max-width:100%;
    justify-self: start;
}

.floor_room13{
    position: absolute;
    left: 1077px;
    top: 178px;
    max-width:100%;
    justify-self: start;
}

.floor_room14{
    position: absolute;
    top: 609px;
    left: 600px;
    max-width:100%;
    justify-self: start;
}

.floor_room21{
    position: absolute;
    left: 600px;
    top: 178px;
    max-width:100%;
    justify-self: start;
}

.floor_room22{
    position: absolute;
    left: 600px;
    top: 178px;
    max-width:100%;
    justify-self: start;
}

.floor_room23{
    position: absolute;
    left: 600px;
    top: 588px;
    max-width:100%;
    justify-self: start;
}

.floor_room24{
    position: absolute;
    top: 588px;
    left: 954px;
    max-width:100%;
    justify-self: start;
}

.floor_room31{
    position: absolute;
    left: 600px;
    top: 178px;
    max-width:100%;
    justify-self: start;
}

.floor_room32{
    position: absolute;
    left: 845px;
    top: 178px;
    max-width:100%;
    justify-self: start;
}

.floor_room33{
    position: absolute;
    left: 1063px;
    top: 178px;
    max-width:100%;
    justify-self: start;
}

.floor_room34{
    position: absolute;
    left: 600px;
    top: 463px;
    max-width:100%;
    justify-self: start;
}

.floor_room35{
    position: absolute;
    left: 1063px;
    top: 463px;
    max-width:100%;
    justify-self: start;
}