.logo-instance{
    padding: 20px;
    height: 30%;
}

.menu{
    margin: 20px;
    border: 15px solid green;
    background-color: lightgrey;
    border-radius: 25px;
    width: 120px;
    height: 250px;
}